.stats {
	display: flex;
	flex-direction: column;

	input {
		width: 15%;
		margin: 1% 0%;
	}
}

.base-info {
	display: flex;
	flex-direction: column;
}
.feats {
	display: flex;
}
.skills {
	display: flex;
}
.skill-list {
	margin-top: 10px;
}
.feat-list {
	margin-top: 10px;
}
.stat-list {
	margin-top: 10px;
}
